#chusen .gift_number {
    text-align: center;
}

#chusen table {
    border-collapse: collapse;
}

th,
td {
    border: solid 1px #333;
    /* 線の種類 太さ 色 */
}

th {
    font-weight: bolder;
    background-color: #87ceeb;
}

h3 {
    text-align: center;
}

.labels {
    margin-left: 40%;
}

.chusen-btn {
    margin-left: 50%;
}