/* キャンペーントップガン */

#campaign_top2 .btn-challenge {
    display: block;
    width: 300px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    font-family: Meiryo;
    font-weight: bold;
    padding-top: 10px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    background: url("../img/btn_bg2.png");
    background-size: 100% auto;
}

#campaign_top2 .btn_challenge_now {
    display: block;
    width: 300px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    font-family: Meiryo;
    font-weight: bold;
    padding-top: 10px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    background: url("../img/btn_bg1.png");
    background-size: 100% auto;
}