#preview .frame .img-preview {
    text-align: center;
}

#preview form .preview {
    padding-bottom: 1px;
    background-image: url("../img/preview-box.png");
    background-size: 100% 100%;
}

#preview form .preview-decision {
    padding-top: 10px;
    padding-bottom: 35px;
    background-image: url("../img/etc/box.png");
    background-size: 100% 100%;
    margin: 50px 0px 100px;
}

#preview form .text {
    padding: 20px 20px 0px;
}

#preview form .text-decision {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}

#preview .content {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    overflow-wrap: break-word;
}

#preview .btn-preview {
    text-align: center;
}

#preview .btn-preview-edit {
    margin: 0 auto;
    cursor: pointer;
    display: inline-block;
    width: 160px;
    height: 50px;
    border: none;
    text-align: center;
    font-family: Meiryo;
    font-weight: bold;
    font-size: 100%;
    color: white;
    background: url("../img/btn-bg4.png") no-repeat 0 0;
    background-size: 100% auto;
}

#preview .btn-preview-decision {
    margin: 0 auto;
    cursor: pointer;
    display: inline-block;
    width: 160px;
    height: 50px;
    border: none;
    text-align: center;
    font-family: Meiryo;
    font-weight: bold;
    font-size: 100%;
    color: white;
    background: url("../img/btn_bg3.png") no-repeat 0 0;
    background-size: 100% auto;
}

#preview .preview_footer {
    text-align: center;
}

#preview .preview_footer .title {
    font-weight: bold;
    margin-bottom: 0px;
}

#preview .preview_footer .text {
    font-weight: bold;
    font-size: 11px;
}