@font-face {
    font-family: 'ＪＫゴシックＭ';
    src: url("../font/JKG-M_3.ttf");
}

#ranking_ez {
    height: 100%
}

#ranking_ez .frame {
    padding-left: 0px;
    padding-right: 0px;
}

#ranking_ez .frame .ranking_top {
    text-align: center;
    margin: auto;
}

#ranking_ez .frame .ranking_top p {
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 350%;
    color: white;
    text-shadow: black 2px 0px, black -2px 0px, black 0px -2px, black 0px 2px, black 2px 2px, black -2px 2px, black 2px -2px, black -2px -2px, black 1px 2px, black -1px 2px, black 1px -2px, black -1px -2px, black 2px 1px, black -2px 1px, black 2px -1px, black -2px -1px;
    position: absolute;
    width: 360px;
    height: 88px;
    padding-top: 40px;
}

#ranking_ez .frame .ranking_top img {
    width: 60%;
}

#ranking_ez .frame .ranking_top_level {
    text-align: center;
    margin: auto;
}

#ranking_ez .frame .ranking_top_level p {
    margin: auto;
    font-family: "ＪＫゴシックＭ";
    text-align: center;
    font-weight: bold;
    font-size: 250%;
    color: blue;
    position: absolute;
    width: 360px;
    height: auto;
    padding-top: 30px;
}

#ranking_ez .frame .ranking_top_level img {
    width: 100%;
}

#ranking_ez .frame .my_score {
    text-align: center;
    margin: auto;
}

#ranking_ez .frame .my_score p {
    margin: auto;
    font-family: "Segoe UI";
    text-align: center;
    font-weight: bold;
    font-size: 215%;
    color: yellow;
    text-shadow: black 2px 0px, black -2px 0px, black 0px -2px, black 0px 2px, black 2px 2px, black -2px 2px, black 2px -2px, black -2px -2px, black 1px 2px, black -1px 2px, black 1px -2px, black -1px -2px, black 2px 1px, black -2px 1px, black 2px -1px, black -2px -1px;
    width: 360px;
    height: auto;
    padding-bottom: 5px;
}

#ranking_ez .frame .ranking {
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
    position: relative;
}

#ranking_ez .frame .ranking img {
    width: 90%;
    padding-bottom: 20px;
}

#ranking_ez .frame .ranking p {
    padding-top: 65px;
    margin: auto;
    font-family: "Segoe UI";
    font-weight: bold;
    width: auto;
    height: auto;
    padding-top: 125px;
}

#ranking_ez .frame .ranking .top_rank {
    font-size: 230%;
    line-height: 135%;
    position: absolute;
    text-align: left;
    left: 60px;
    color: yellow;
    text-shadow: black 2px 0px, black -2px 0px, black 0px -2px, black 0px 2px, black 2px 2px, black -2px 2px, black 2px -2px, black -2px -2px, black 1px 2px, black -1px 2px, black 1px -2px, black -1px -2px, black 2px 1px, black -2px 1px, black 2px -1px, black -2px -1px;
}

#ranking_ez .frame .ranking .top_name {
    position: absolute;
    text-align: center;
    left: 0px;
    right: 0px;
    line-height: 210%;
    font-size: 150%;
    color: black;
}

#ranking_ez .frame .ranking .top_score {
    position: absolute;
    text-align: right;
    right: 55px;
    line-height: 210%;
    font-size: 150%;
    color: #00ff00;
    font-family: "HG創英角ﾎﾟｯﾌﾟ体";
    text-shadow: black 1px 0px, black -1px 0px, black 0px -1px, black 0px 1px, black 1px 1px, black -1px 1px, black 1px -1px, black -1px -1px, black 0.5px 1px, black -0.5px 1px, black 0.5px -1px, black -0.5px -1px, black 1px 0.5px, black -1px 0.5px, black 1px -0.5px, black -1px -0.5px;
}

#ranking_ez .frame .ranking .ranking_hard {
    margin: 0 auto;
    cursor: pointer;
    display: inline-block;
    width: 160px;
    height: 55px;
    border: none;
    text-align: center;
    font-family: "ＭＳ 明朝";
    font-weight: bold;
    font-size: 150%;
    color: red;
    background: url("../img/ranking-hard.png") no-repeat 0 0;
    background-size: 100% auto;
}

#ranking_ez .frame .ranking_ez_footer a {
    text-align: center;
    margin: 10px auto;
    display: block;
}