#result {
    height: 100%;
    font-family: 'ＪＫゴシックＭ';
}

#result .frame {
    padding-left: 0px;
    padding-right: 0px;
}

#result .frame .judge img {
    position: absolute;
    width: 360px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
}

#result .frame .judge p {
    position: relative;
    margin: auto;
    padding-top: 30px;
    border: none;
    text-align: center;
    /* font-family: "HG創英角ﾎﾟｯﾌﾟ体"; */
    font-weight: bold;
    pointer-events: none;
    font-size: 500%;
    text-shadow: white 2px 0px, white -2px 0px, white 0px -2px, white 0px 2px, white 2px 2px, white -2px 2px, white 2px -2px, white -2px -2px, white 1px 2px, white -1px 2px, white 1px -2px, white -1px -2px, white 2px 1px, white -2px 1px, white 2px -1px, white -2px -1px;
}

#result .frame .judge .judge_clear {
    color: red;
}

#result .frame .judge .judge_failure {
    color: blue;
}

#result .frame .score {
    position: relative;
    margin-top: 30px;
}

#result .frame .score img {
    text-align: center;
    size: 98%;
}

#result .frame .score .residue {
    position: absolute;
    text-align: left;
    left: 110px;
    margin-top: 50px;
    font-size: 200%;
}

#result .frame .score .mask {
    position: absolute;
    text-align: right;
    right: 8px;
    margin-top: 50px;
    font-size: 200%;
}

#result .frame .score .game_score {
    position: absolute;
    text-align: left;
    margin-top: 90px;
    left: 20px;
    font-size: 160%;
}

#result .frame .score .game_score_point {
    position: absolute;
    text-align: center;
    margin-top: 85px;
    left: 0px;
    right: 0px;
    font-size: 420%;
    color: #00ff00;
    text-shadow: black 2px 0px, black -2px 0px, black 0px -2px, black 0px 2px, black 2px 2px, black -2px 2px, black 2px -2px, black -2px -2px, black 1px 2px, black -1px 2px, black 1px -2px, black -1px -2px, black 2px 1px, black -2px 1px, black 2px -1px, black -2px -1px;
}

#result .frame .score .get_point {
    position: absolute;
    text-align: center;
    color: #ffff8f;
    font-size: 160%;
    text-shadow: black 2px 0px, black -2px 0px, black 0px -2px, black 0px 2px, black 2px 2px, black -2px 2px, black 2px -2px, black -2px -2px, black 1px 2px, black -1px 2px, black 1px -2px, black -1px -2px, black 2px 1px, black -2px 1px, black 2px -1px, black -2px -1px;
    left: 0px;
    right: 0px;
    top: 131px;
}

#result .frame .score .now_point {
    position: absolute;
    text-align: center;
    margin-top: 200px;
    font-size: 210%;
    left: 0px;
    right: 0px;
    color: #ffaa00;
    text-shadow: black 2px 0px, black -2px 0px, black 0px -2px, black 0px 2px, black 2px 2px, black -2px 2px, black 2px -2px, black -2px -2px, black 1px 2px, black -1px 2px, black 1px -2px, black -1px -2px, black 2px 1px, black -2px 1px, black 2px -1px, black -2px -1px;
}

#result .frame .trans {
    text-align: center;
}

#result .frame .trans .retry_ad {
    margin: 20px 20px 10px 0px;
    width: 90%;
    height: auto;
    cursor: pointer;
}

#result .frame .trans .retry {
    margin: 10px auto;
    width: 70%;
    height: auto;
    cursor: pointer;
}

#result .frame .trans p {
    z-index: 1;
    position: absolute;
    text-align: center;
    margin-top: 64px;
    font-size: 400%;
    left: 0px;
    right: 0px;
    color: #ffff8f;
    text-shadow: black 2px 0px, black -2px 0px, black 0px -2px, black 0px 2px, black 2px 2px, black -2px 2px, black 2px -2px, black -2px -2px, black 1px 2px, black -1px 2px, black 1px -2px, black -1px -2px, black 2px 1px, black -2px 1px, black 2px -1px, black -2px -1px;
}

#result .frame .trans .apply {
    margin: 10px auto;
}

#result .frame .trans .back_level_select {
    margin: 10px auto;
    width: 70%;
    height: auto;
    cursor: pointer;
}

#result .frame .trans .banner img {
    margin: 15px auto;
    width: 95%;
    height: auto;
}

#result .frame .result_footer {
    text-align: center;
    margin: 15px auto;
}

#show_ad form .reset_play_count {
    text-align: center;
    position: fixed;
    font-size: 150%;
    font-weight: bold;
    top: 0%;
    right: 0%;
}

#show_ad {
    overflow: hidden;
}

#show_ad video {
    text-align: center;
    position: fixed;
    min-width: 320px;
    max-width: 360px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#show_ad p {
    text-align: center;
    position: fixed;
    top: 0%;
    right: 0%;
}

#show_ad .sound {
    width: 40px;
    height: 40px;
}