#level_select {
    height: 100%;
    font-family: "ＪＫゴシックＭ";
}

#level_select input {
    font-family: 'ＪＫゴシックＭ';
}

#level_select .frame {
    padding-left: 0px;
    padding-right: 0px;
}

#level_select .frame p {
    pointer-events: none;
}

#level_select .frame .edit {
    color: black;
    text-align: right;
    margin: auto;
    padding-right: 7.5px;
}

#level_select .frame .edit input {
    width: 110px;
    height: 25px;
    background: url("../img/level_select_ranking/regist-edit.png") no-repeat 0 0;
    background-size: 22% auto;
    border: none;
    margin: 5px auto;
    padding-left: 25px;
    cursor: pointer;
    font-family: 'ＪＫゴシックＭ';
}

#level_select .frame .point {
    text-align: center;
    background: #ffffff;
    border-top: solid 10px #FFBB00;
    border-bottom: solid 10px #FFBB00;
}

#level_select .frame .point {
    margin: 0;
    padding: 0;
}

#level_select .frame .point .user {
    margin: 10px auto;
    font-size: 125%;
    font-weight: bold;
    color: black;
    text-align: right;
    padding-right: 7.5px;
}

#level_select .frame .point .now_point {
    margin: 3% auto 3%;
    text-align: center;
    /* font-family: "HGS創英角ﾎﾟｯﾌﾟ体"; */
    font-weight: bold;
    font-size: 225%;
    color: #FFAA00;
    text-shadow: black 1.5px 0px, black -1.5px 0px, black 0px -1.5px, black 0px 1.5px, black 1.5px 1.5px, black -1.5px 1.5px, black 1.5px -1.5px, black -1.5px -1.5px, black 0.5px 1.5px, black -0.5px 1.5px, black 0.5px -1.5px, black -0.5px -1.5px, black 1.5px 0.5px, black -1.5px 0.5px, black 1.5px -0.5px, black -1.5px -0.5px;
}

#level_select .frame .point .check_point {
    margin: 5% auto;
    text-align: center;
    /* font-family: "BIZ UDPゴシック"; */
    font-weight: bold;
    font-size: 125%;
    color: black;
}

#level_select .frame .select .select_level {
    text-align: center;
    background: #ffffff;
    margin: 0px 10px 10px;
    width: auto;
    height: 300px;
    border-top: solid 7px #FFBB00;
    border-bottom: solid 7px #FFBB00;
    border-left: solid 7px #FFBB00;
    border-right: solid 7px #FFBB00;
}

#level_select .frame .select .select_img {
    text-align: center;
}

#level_select .frame .select p {
    margin: auto;
    font-weight: bold;
    font-size: 275%;
    color: white;
    text-shadow: black 2px 0px, black -2px 0px, black 0px -2px, black 0px 2px, black 2px 2px, black -2px 2px, black 2px -2px, black -2px -2px, black 1px 2px, black -1px 2px, black 1px -2px, black -1px -2px, black 2px 1px, black -2px 1px, black 2px -1px, black -2px -1px;
    position: absolute;
    padding-top: 50px;
    left: 0px;
    right: 0px;
}

#level_select .frame .select img {
    width: 50%;
    height: auto;
}

#level_select .frame .select input {
    line-height: 200%;
}

#level_select .frame .select .select_level .sound {
    width: 40px;
    height: 40px;
    margin-left: 260px;
}

#level_select .frame .select .add_point {
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
    color: #FFFF8F;
    text-shadow: black 1.5px 0px, black -1.5px 0px, black 0px -1.5px, black 0px 1.5px, black 1.5px 1.5px, black -1.5px 1.5px, black 1.5px -1.5px, black -1.5px -1.5px, black 0.5px 1.5px, black -0.5px 1.5px, black 0.5px -1.5px, black -0.5px -1.5px, black 1.5px 0.5px, black -1.5px 0.5px, black 1.5px -0.5px, black -1.5px -0.5px;
    position: absolute;
    padding-top: 60px;
}

#level_select .frame .select .select_easy {
    margin: 0 auto;
    cursor: pointer;
    display: block;
    width: 280px;
    height: 78px;
    border: none;
    text-align: center;
    /* font-family: "ＪＫゴシックＭ"; */
    font-weight: bold;
    font-size: 205%;
    color: blue;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background: url("../img/level_select_ranking/easy.png") no-repeat 0 0;
    background-size: 100% auto;
}

#level_select .frame .select .select_hard {
    margin: 0 auto;
    cursor: pointer;
    display: block;
    width: 280px;
    height: 78px;
    border: none;
    text-align: center;
    /* font-family: "ＭＳ 明朝"; */
    font-weight: bold;
    font-size: 205%;
    color: red;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background: url("../img/level_select_ranking/hard.png") no-repeat 0 0;
    background-size: 100% auto;
    text-shadow: black 1.5px 0px, black -1.5px 0px, black 0px -1.5px, black 0px 1.5px, black 1.5px 1.5px, black -1.5px 1.5px, black 1.5px -1.5px, black -1.5px -1.5px, black 0.5px 1.5px, black -0.5px 1.5px, black 0.5px -1.5px, black -0.5px -1.5px, black 1.5px 0.5px, black -1.5px 0.5px, black 1.5px -0.5px, black -1.5px -0.5px;
}

#level_select .frame .select .select_tutorial {
    margin: 0 auto;
    cursor: pointer;
    display: block;
    width: 280px;
    height: 78px;
    border: none;
    text-align: center;
    font-weight: bold;
    font-size: 205%;
    color: black;
    margin-left: auto;
    margin-right: auto;
    background: url("../img/level_select_ranking/tutorial.png") no-repeat 0 0;
    background-size: 100% auto;
}

#level_select .frame .ranking {
    text-align: center;
    margin: auto;
}

#level_select .frame .ranking p {
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 275%;
    color: white;
    text-shadow: black 2px 0px, black -2px 0px, black 0px -2px, black 0px 2px, black 2px 2px, black -2px 2px, black 2px -2px, black -2px -2px, black 1px 2px, black -1px 2px, black 1px -2px, black -1px -2px, black 2px 1px, black -2px 1px, black 2px -1px, black -2px -1px;
    position: absolute;
    width: 360px;
    height: 88px;
    padding-top: 60px;
}

#level_select .frame .ranking img {
    width: 60%;
}

#level_select .frame .ranking .select_rank {
    text-align: center;
    background: #ffffff;
    margin: auto 10px;
    width: auto;
    height: 70px;
    border-top: solid 7px #FFBB00;
    border-bottom: solid 7px #FFBB00;
    border-left: solid 7px #FFBB00;
    border-right: solid 7px #FFBB00;
}

#level_select .frame .ranking .ranking_easy {
    margin: 12px 0px;
    cursor: pointer;
    display: inline-block;
    width: 150px;
    height: 40px;
    border: none;
    text-align: center;
    /* font-family: "ＪＫゴシックＭ"; */
    font-weight: bold;
    font-size: 150%;
    color: blue;
    background: url("../img/level_select_ranking/ranking-easy.png") no-repeat 0 0;
    background-size: 100% auto;
}

#level_select .frame .ranking .ranking_hard {
    margin: auto;
    cursor: pointer;
    display: inline-block;
    width: 150px;
    height: 40px;
    border: none;
    text-align: center;
    /* font-family: "ＭＳ 明朝"; */
    font-weight: bold;
    font-size: 150%;
    color: red;
    text-shadow: black 1.5px 0px, black -1.5px 0px, black 0px -1.5px, black 0px 1.5px, black 1.5px 1.5px, black -1.5px 1.5px, black 1.5px -1.5px, black -1.5px -1.5px, black 0.5px 1.5px, black -0.5px 1.5px, black 0.5px -1.5px, black -0.5px -1.5px, black 1.5px 0.5px, black -1.5px 0.5px, black 1.5px -0.5px, black -1.5px -0.5px;
    background: url("../img/level_select_ranking/ranking-hard.png") no-repeat 0 0;
    background-size: 100% auto;
}

#level_select .frame .ranking input {
    padding-bottom: 50px;
    text-align: center;
    line-height: 200%;
    margin-top: 20px;
}

#level_select .frame .keihin {
    text-align: center;
    margin-top: 30px;
}

#level_select .frame .keihin p {
    position: absolute;
    display: block;
    margin: 0 auto;
    /* font-family: "HGS創英角ﾎﾟｯﾌﾟ体"; */
    text-align: center;
    font-size: 300%;
    width: 360px;
    height: 170px;
    color: #FFFF8F;
    padding-top: 40px;
    text-shadow: black 2px 0px, black -2px 0px, black 0px -2px, black 0px 2px, black 2px 2px, black -2px 2px, black 2px -2px, black -2px -2px, black 1px 2px, black -1px 2px, black 1px -2px, black -1px -2px, black 2px 1px, black -2px 1px, black 2px -1px, black -2px -1px;
}

#level_select .frame .keihin img {
    width: 360px;
    height: 170px;
    cursor: pointer;
}

#level_select .frame .level_select_footer {
    text-align: center;
    margin: 20px auto;
}