#regist_edit .img-regist_edit {
    text-align: center;
    margin: 0;
}

#regist_edit .frame .form {
    padding-left: 15px;
    padding-right: 15px;
}

#regist_edit .text {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

#regist_edit .text2 {
    text-align: center;
    font-weight: bold;
    font-size: 17px;
}

#regist_edit .form .hissu {
    text-align: center;
    color: #fb0000e8;
    font-weight: bolder;
    font-size: 18px;
}

#regist_edit .btn-regist_edit {
    margin: 0 auto;
    cursor: pointer;
    display: block;
    width: 160px;
    height: 50px;
    border: none;
    text-align: center;
    font-family: Meiryo;
    font-weight: bold;
    font-size: 100%;
    color: white;
    background: url("../img/btn_bg3.png") no-repeat 0 0;
    background-size: 100% auto;
}

#regist_edit .regist_edit_footer {
    text-align: center;
}

#regist_edit .regist_edit_footer .title {
    font-weight: bold;
    margin-bottom: 0px;
}

#regist_edit .regist_edit_footer .text {
    font-weight: bold;
    margin-inline: 0px;
    font-size: 11px;
}

#regist_edit frame form p {
    text-align: 20px;
    margin-top: 0px;
}

#regist_edit .frame form p .street {
    width: 300px;
}

#regist_edit .frame form .error {
    text-align: 20px;
    color: red;
    margin-bottom: 0px;
}