/* 全体設定 */

@font-face {
    font-family: 'ＪＫゴシックＭ';
    src: url("../font/JKG-M_3.ttf");
}

html {
    touch-action: manipulation;
    height: 100%;
}

body {
    /* background-color: #b4e6ff;*/
    background-color: #76CCF1;
    height: 100%;
    margin: 0;
}

img {
    max-width: 100%;
}

.frame {
    margin: 0px auto;
    padding: 10px;
    background-image: url("../img/bg1.png");
    background-repeat: repeat;
    height: auto;
    min-height: 100%;
    min-width: 320px;
    max-width: 360px;
}